@import 'src/public/style/style-guide';

.nav-item {
  margin: 0 15px;
  cursor: pointer;

  .nav-item__delimiter {
    border: 0;
    height: 5px;
  }

  &:hover .nav-item__delimiter {
    background-color: $main-color-1;
  }
}

.nav-item__title {
  margin: auto;
  color: $black;
  @include main-font(20px);
  align-items: center;

}