// Main colors
$main-color-1: #3a596d;
$main-color-2: #86beb3;
$white: white;

// Additional colors
$blue: #24b6ea;
$orange: #f58121;
$yellow: #ffb700;
$red: #ec3e30;
$green: #23ad4b;

// Service colors
$black: black;
$gray: #8a8a8a;
$transparent: rgba(255, 255, 255, 0);
