@import '../../../public/style/style-guide';

.title {
  margin: auto;
  color: $black;
  @include main-font(24px);
}

.item {
  margin: 0 15px;

  hr {
    border: 0;
    height: 5px;
  }

  &:hover hr {
    background-color: $main-color-1;
  }
}
