// Main colors
$main-color-1: #396499;
$main-color-2: #86beb3;
$main-color-3: white;

// Additional colors
$additional-color-1: #24b6ea;
$additional-color-2: #f58121;
$additional-color-3: #ffb700;
$additional-color-4: #ec3e30;
$additional-color-5: #23ad4b;

// Service colors
$service-color-1: black;
$service-color-2: #8a8a8a;
